*{
    line-height: 2;
    font-family: 'Noto Serif TC', serif;
}
.bg{
    background-color: antiquewhite;
    background-image: url("../img/intraduce-img/bg-20.jpg");
    background-repeat: no-repeat;


}
.part1{
    padding-top: 100px;
    padding: 20px;
    align-items: center;
    text-align: center;
}
.part2{
    align-items: center;
}

.p4txt p{
    text-align: left;
}
.p4txt{
    width: 200px;
}
.part4{
    line-height: 3;
}
.part6{
    background-color: #000;
    color: #fff;
}
.part6 strong{
    font-size: 20px;
}

.aa{
    border-right: 0.1px #000 solid;
    border-top: 0px;
    border-bottom: 0px;
}
.navhover:hover{
    background: #ccc;
}
.navbar-brand{
    padding-left: 10px;
}
.footer{
    display: flex;
    height: 200px;
    background-color: #000;
    color: #fff;
    justify-content: right;
    align-items: flex-end;
    padding: 20px;
    padding-bottom: 10px;
    text-align: right;

}
.footer img{
    max-width: 50px;
    max-height: 50px;
    margin: 10px;
}