*{
    font-family: 'Noto Serif TC', serif;
}
.part1{
    background-color: antiquewhite;
    background-image: url("../img/sad-img/6.jpg");
    background-repeat: no-repeat;
    height: 600px;
    padding: 20px;
}
.part1-1 p{
   font-size: 12px;
}
.part1-1{
    max-width: 600px;

    background-color: rgba(255, 255, 255, 1);
    padding: 25px;
    line-height: 2;
}
.part1-2{
    font-size: 12px;
    margin-top: 130px;
    color: #fff;
    padding-top: 90px;
}
.part2{
    height: 800px;
    line-height: 2;
    align-items: center;
    font-size: 12px
}
.part2 p{
    max-width: 400px;
} 
.head{
    font-size: 24px;
    border-bottom: 3px double black;
}
.head small{
    font-size: 10px;
}
.part3{
    height: 400px;
    align-items: center;
}
.part4{
    margin-bottom: 100px;
}
.part4 p{
    font-size: 12px;
    line-height: 2;
}

.aa{
    border-right: 0.1px #000 solid;
    border-top: 0px;
    border-bottom: 0px;
}
.navhover:hover{
    background: #ccc;
}
.navbar-brand{
    padding-left: 10px;
}
.fix{
    max-width: 30px;
    max-width: 30px;
}
.footer{
    display: flex;
    height: 200px;
    margin-top: 50px;
    background-color: #000;
    color: #fff;
    justify-content: right;
    align-items: flex-end;
    padding: 20px;
    padding-bottom: 10px;
    text-align: right;

}
.footer img{
    max-width: 50px;
    max-height: 50px;
    margin: 10px;
}
.bg{
    background-image:url("../img/bg2-02.jpg");
    background-repeat:no-repeat;
}
